<ion-view view-title="View Bus Schedules">
  <ion-content class="padding" id="page_content">

    <div id="app_logo">

    </div>
    

	<div class="sub_content">
		<div class="item item-divider card_top item-balanced">
		    <h2>View Options</h2>
		</div>

		<div class="row">
            <div class="col">
            	<div class="list list-inset">

		                <a class="item item-icon-right" href="#" ng-click="goToWebPage('http://bustime.com.ng/mobile_allflights.php')">
		                    Glance
		                    <i class="icon ion-ios-arrow-right"></i>
		                </a>
		                
		                <a class="item item-icon-right" href="#" ng-click="goToPage('app.byroute')">
		                    By Bus Route
		                    <i class="icon ion-ios-arrow-right"></i>
		                </a>

		                <a class="item item-icon-right" href="#" ng-click="goToPage('app.bycompany')">
		                    By Bus Company
		                    <i class="icon ion-ios-arrow-right"></i>
		                </a>
		                
		        </div>
            </div>
        </div>

		
	</div><!-- /.sub_content -->



  </ion-content>
</ion-view>
