<ion-view view-title="Payment On Arrival">
  <ion-content class="padding" id="page_content">

    <div id="app_logo">

    </div>
    

	<div class="card">
	  <div class="item item-divider item-balanced">
	    Payment On Arrival
	  </div>
	  <div class="item item-text-wrap item-body">
	   <img class="full-image" src="img/bus.jpg">
	   <p>
	   	Upon Arrival at the Park, go to <b>VikoTravel Online Booking Services</b> stand to make your payment. Thanks.
	   </p>
	   <p>
			<b>
				NB:Pay-On-Arrival is subject to seat availability. All reservations are subject to payment.
			</b>
	   </p>
	  </div>
	  <div class="item item-divider">
	    Terms and conditions Apply.
	  </div>
	</div>

	<div class="row">
		<div class="col">
			<a class="item item-balanced item-icon-left" ui-sref="app.home">
			    <i class="icon ion-home"></i>
			    Home Page
			    <br>
			</a>
		</div>
	</div>

  </ion-content>
</ion-view>

		