<ion-view view-title="Identify Yourself">
  <ion-content class="padding" id="page_content">

    <div id="app_logo">

    </div>
    

	<div class="sub_content">
		<div class="item item-divider card_top item-balanced">
		    <h2>Identify Yourself to Continue</h2>
		</div>
		
		<div class="row">
	        <div class="col">
	           	<!-- Change this back to a button later -->
	            <a class="button button-block button-light" ui-sref="tab.guestform">
	            	<i class="icon ion-ios-body-outline"></i>
	            	&nbsp;
					Book As A Guest
	            </a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col">
	           	<!-- Change this back to a button later -->
	            <a class="button button-block button-positive" ui-sref="tab.bookasexisting">
	            	<i class="icon ion-ios-people"></i>
	            	&nbsp;
					Book As Existing Guest
	            </a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col">
	           	<!-- Change this back to a button later -->
	            <a class="button button-block button-energized" ui-sref="tab.createaccount">
	            	<i class="icon ion-person-add"></i>
	            	&nbsp;
					Create New Account
	            </a>
	        </div>
	    </div>
	</div><!-- /.sub_content -->



  </ion-content>
</ion-view>
