<ion-view view-title="Exisiting Guest Login">
  <ion-content class="padding" id="page_content">

    <div id="app_logo">

    </div>
    

	<div class="sub_content">
		<div class="item item-divider card_top item-balanced">
		    <h2>Book As Existing Guest</h2>
		</div>
		
		<form style="">
            
            <div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Email" type="email">
		            </label>
				</div>
			</div>
            <div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Password" type="password">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<button style="" class="button button-positive button-block">Sign In</button>
				</div>
			</div>
            
        </form>
	</div><!-- /.sub_content -->



  </ion-content>
</ion-view>

		