<ion-view view-title="Create New Account">
  <ion-content class="padding" id="page_content">

    <div id="app_logo">

    </div>
    

	<div class="sub_content">
		<div class="item item-divider card_top item-balanced">
		    <h2>Create New Account</h2>
		</div>
		
		<form style="">

			<!-- <div class="row">
				<div class="col">

				</div>
			</div> -->
			<div class="row">
				<div class="col">
					<label style="" name="title" class="item item-select item-input">
		                <span class="input-label">Title</span>
		                <select>
		                	<option>Mr</option>
		                	<option>Mrs</option>
		                	<option>Miss</option>
		                </select>
		            </label>
				</div>
			</div>
            <div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Name" type="text">
		            </label>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Last Name" type="text">
		            </label>
				</div>
			</div>
           	<div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Telephone (Mobile Preferred)" type="text">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<b>Contact Information</b>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Address (Street)" type="text">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="City/ State e.g Garki, Abuja" type="text">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label style="" name="title" class="item item-select item-input">
		                <span class="input-label">Country</span>
		                <select>
		                	<option>Nigeria</option>
		                	<option>Usa</option>
		                	<option>Gabon</option>
		                </select>
		            </label>
				</div>
			</div>
            
            <div class="row">
				<div class="col">
					<b>Where should we send your confirmation?</b>
				</div>
			</div>
            
            <div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Email" type="email">
		            </label>
				</div>
			</div>
            <div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Confirm Email" type="email">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Password" type="password">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label style="" class="item item-input">
		                <input placeholder="Confirm Password" type="password">
		            </label>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<button style="" class="button button-positive button-block ">Create Account</button>
				</div>
			</div>
            
        </form>
	</div><!-- /.sub_content -->



  </ion-content>
</ion-view>

		